:root { /* reference color palette */
    --prim: #D8BC69;
    --primdark: #bf9d39;
    --text: #1e1e20;
}

/* font setup */
@font-face { font-family: Lato; src: url('assets/Fonts/Lato/Lato-Regular.ttf'); }
@font-face { font-family: Roboto; src: url('assets/Fonts/Roboto/static/Roboto-Regular.ttf'); }
    h1, h2, h3, h4, h5, h6, div, label, table, input, textarea {
        font-family: Lato;
    }
    p, a {
        font-family: Roboto;
        line-height: 1.6;
        font-size: 14px;
    }
    .par-large {
        font-size: 18px;
    }
    h1 {
        font-size: 80px;
        line-height: 1.05;
    }
    h2 {
        font-size: 30px;
        line-height: 1.1;
    }
    h3 {
        font-size: 24px;
        line-height: 1.1;
    }

body { /* gets rid of white outline around the whole page */
    margin: 0;
}

a { /* gets rid of links being blue */
    color: inherit;
    text-decoration: none;
}

.currentpage {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.2rem;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--prim);
}

.darkunderline {
    text-decoration: underline;
    text-decoration-color: var(--primdark);
}

/* START HEADER CODE */

.topborder {
    border-top: 1em solid black;
}

.headerbarcontainer {
    width: 100%;
    height: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerbarsub {
    /* vvv Center content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerbarsub img {
    max-height: 5rem;   /* size of "bakkerij" on the left side of the header */
}

.headerbarsub a { /* stylise links on the right side of the header */
    font-size: 1.5rem;
    font-weight: 600;
}

.bannercontainer { /* div that contains banner image */
    width: 100%;
    height: 30rem;
}

.bannercontainer img { /* banner image */
    height: inherit;
    width: inherit;
    object-fit: cover;
    filter: brightness(70%);    /* darken image */
}

.bannercontainer div {  /* div that contains 'home' text over banner */
    color: white;

    width: 100%;    /* vvv centering div itself */
    height: 100%;
    transform: translate(0%, -100%);

    display: flex;  /* vvv centering div content */
    justify-content: center;
    align-items: center;
}

.bannercontainer div h1 {
    font-weight: lighter;
}

.menuicon {
    display: none;
    height: 35%;
    image-rendering: crisp-edges;
}

.menuicon:hover {
    filter: brightness(80%);
}

/* END HEADER CODE */

/* START MAIN CODE */

.home_main {      /* container for main content in the index.html file*/
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
    justify-content: center;
    justify-items: center;
}

.spacer {   /* whitespace between banner and main content*/
    width: 100%;
    min-height: 5rem;
}

.home_module_overons {  /* div that contains the 'over ons' section */
    max-width: 90%;
    min-width: 90rem;
    max-height: 27.5rem;
                /* vvv align subdivs */
    display: grid; 
    grid-template-columns: 1fr 2fr;
}

.home_module_contact {  /* div that contains the 'contact' section */
    max-width: 90%;
    min-width: 90rem;
    max-height: 25rem;
                /* vvv align subdivs */
    display: grid; 
    grid-template-columns: 2fr 1fr;
}

.home_module_image {    /* div that contains the modules' image */
    display: inline-block;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
}

.image1 {
    background-image: url("./assets/Fotos_website/Image-4.jpg");
}

.image2 {
    background-image: url("./assets/Fotos_website/Image-2.jpg");
    background-position-y: center;
}

.home_module_content {  /* div that contains the modules' title, text, and read more button */
    text-align: left;
    padding: 0 1rem 0 1rem;
}

.home_module_content h2 { /* module caption */
    font-weight: lighter !important;
    font-size: 2.5rem !important;
    line-height: 0.5rem;
}

.home_module_content p { /* lorem ipsum in the module */
    font-size: 1.4rem !important;
}

.readmorebutton { /* 'lees meer' button */
    font-size: 1.25rem;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--prim);
    width: max-content;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.readmorebutton:hover {     /* dim when hovered on */
    filter: brightness(80%);
}

.mobileimage {  /* image that only displays for mobile version */
    display: none;
}

.desktopimage {  /* image that only displays for desktop version */
    display: block;
}

.overons_main {      /* container for main content in the overons.html file */
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 2fr 1fr 4.5fr 1fr; */
    justify-content: center;
    justify-items: center;
    max-width: 150rem;
}

.overons_module {           /* used for text divs */
    max-width: 90%;
    min-width: 90rem;
    min-height: fit-content;
}

.overons_module p {
    font-size: large;
}

.overons_imagecontainer {   /* div that contains the image div */
    max-width: 90%;
    min-width: 90rem;
    min-height: 20rem;
    justify-items: center;
}

.overons_image {            /* div that shows the actual image */
    width: 90%;
    height: 100%;
    background-image: url("./assets/Fotos_website/Image-5.jpg");
    background-position: center;
    background-size: cover;
    border: 0.12rem solid gray;
    z-index: 100;
}

.overons_portraitsmodule {
    max-width: 80%;
    min-width: 90rem;
    min-height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.overons_portraitcontainer {
    height: fit-content;
    width: 60%;
    padding: 3rem;
    justify-self: center;
    align-self: center;
    border: solid 0.4rem var(--prim);
}

.overons_portraitcontainer h2, .overons_portraitcontainer h3 {
    font-weight: 500;
    line-height: 1.2rem;
}

.overons_portraitcontainer p {
    font-size: large;
}

.overons_portraitcontainer img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icons a i {
    color: var(--prim);
    font-size: 3rem;
    letter-spacing: 1.5rem;
}

.icons a i:hover {
    filter: brightness(80%);
}

.contact_main {      /* container for main content in the contact.html file */
    display: grid;
    justify-content: center;
    justify-items: center;
    max-width: 150rem;
}

.contact_modulescontainer {
    max-width: 100%;
    min-width: 90rem;
    height: 50rem;
    padding: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.contact_module_info {
    height: auto;
    width: auto;
}

.contact_module_info h2 {
    text-underline-offset: 1rem;
    font-weight: lighter;
    font-size: 45;
}

.contact_module_info h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 0rem;
    padding-top: 20px;
}

.contact_module_info h4, .contact_module_info td {
    font-size: 1.5rem;
    font-weight: 500;
}

.tabledivider {
    color: var(--prim)
}

.contact_module_form {
    height: auto;
    width: auto;
    padding: 1rem;
    gap: 1rem;

    display: grid;
    grid-template-rows: 2fr 2fr 2fr 3fr 1fr;
}

.contact_module_form_section {
    width: auto;
    height: auto;

    font-size: xx-large;
    line-height: 1rem;

    display: flex;
    flex-direction: column;
}

.contact_module_form_section input {
    width: 100%;
    height: 4rem;
    font-size: xx-large;
}

.contact_module_form_section textarea {
    width: 100%;
    height: 80%;
    font-size: xx-large;
}

.contact_module_form_section p {
    color: red;
    line-height: 0.25rem;
    font-size: 1rem;
    display: none;
}

.formborders {
    border: 2px solid var(--prim);
    border-radius: 0.25rem;
}

.contact_module_form_buttoncontainer {
    text-align: right;
}

.contact_module_form_buttoncontainer input {
    background-color: var(--prim);
    border: none;
    border-radius: 0.25rem;
    height: 2.5rem;
    width: 12rem;
    font-size: 1rem;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0,0,0,0.25));
}

.contact_module_form_buttoncontainer input:hover {
    filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0,0,0,0.5));
}

/* END MAIN CODE */

/* START FOOTER CODE */

.footerbarcontainer {
    background-color: var(--prim);
}

.footerbarsub {
    /* vvv Center content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerbarsub a, .footerbarsub p {
    font-size: x-large;
}

/* END FOOTER CODE */

/* START MOBILE MENU SCREEN CODE */

.menuscreen {   /* div that contains menu options for the mobile menu */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999; /* fixes banner overlap */
    background-color: #D8BC69;
    text-align: center;
    display: none;
    /* display: flex;  display is set to none by default but flex is there to indicate what display is supposed to be when the menu is opened. */
    align-items: center; /* centering */
    justify-content: center;
}

.menuscreen div a {
    font-weight: bolder;
    font-size: 2rem;
    line-height: 10rem;
}

.menuscreen h1 {
    position: absolute;
    top: 1%;
    right: 7%;
    cursor: pointer;    /* indicates to the user that they can press this since its not a regular link */
}

.menuscreen a:hover, .menuscreen h1:hover {
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25));
}

/* END MOBILE MENU SCREEN CODE */


@media only screen and (max-width: 1600px) {
    /* HEADER MOBILE START */

    .headerbarsub a {
        display: none;
    }

    .menuicon {
        display: block;
    }

    /* HEADER MOBILE END */
    /* INDEX MOBILE START */

    main {
        display: grid;
        grid-template-rows: 1fr 6fr 1fr 6fr 1fr;
    }

    .home_module_image {
        min-height: 30rem;
        display: block;
    }

    .home_module_overons {
        display: table;
        max-width: 90%;
        min-width: 0rem;
        grid-template-rows: 2fr 3fr;
        grid-template-columns: 1fr;
    }

    .home_module_contact {
        display: table;
        max-width: 90%;
        min-width: 0rem;
        grid-template-rows: 2fr 3fr;
        grid-template-columns: 1fr;
    }

    .home_module_content {
        padding: 0;
    }

    .mobileimage {  /* makes mobile version image visilble */
        display: block;
    }

    .desktopimage { /* makes desktop version image invisible */
        display: none;
    }

    /* INDEX MOBILE END */
    /* FOOTER MOBILE START */

    .footerbarcontainer {
        display: flex;
        flex-direction: column;
        height: 10rem;
    }
}